@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

.header {
  font-family: 'Poppins', sans-serif;
}

.title {
  font-family: 'Arvo', serif;
}
