@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

.header {
  font-family: 'Poppins', sans-serif;
}

.title {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 16px;
}

.navbar {
  display: flex;
}

.category {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: gray;
}

.author {
  font-family: 'Arvo', serif;
  font-size:  13px;
}

.id {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: gray;
}